.wrapper{

    margin:100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.call-to-action{
    margin:150px;
    color:#A259FF;

    h1{
        font-size: 50px;
        margin: 0;;
    }
    p{
        font-size:30px;
        padding:0;
        margin:0;
    }

    .call-to-action--btns{
        padding:20px 0;
        display: flex;
        
        button{
            border:0;
            font-size: 20px;
            padding:20px 40px;

            &:hover{
                cursor: pointer;
            }

            transition: .5s;
        }

        .primary{
            color:white;
            font-weight: bold;
            background-color: #A259FF;

            &:hover{
                background-color: white;
                color:#A259FF;
                border:1px solid #A259FF;
            }
        }

        .secondary{
            border:1px solid #A259FF;
            background-color: white;
            color:#A259FF;
            margin-left:20px;
           
            &:hover{
                background-color:#A259FF;
                color:white;
            }
        }
    }
}