.footer{
    background-color: #A259FF;
    height: 300px;
    width: 100%;

    // position: fixed;
    // bottom: 0;
    overflow: hidden;
}

.all-rights-reserved{
  color:white;

  position: fixed;
  bottom: 20px;
  left:50%;
  transform: translateX(-50%);
}


@media only screen and (max-width: 600px){
  .all-rights-reserved{
    width: 100%;
    text-align: center;
    font-size: 13px;
  }
}